nav ul li a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s;
}

nav ul li a:hover {
  color: #b1663c;
}

nav ul li .current {
  font-weight: 700;
}

.edit-mode {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  color: #fff;
  text-align: center;
  padding: 20px;
  font-size: 16px;
  background-color: #000;
}

.edit-mode i {
  margin-right: 10px;
}
